torch
MinkowskiEngine # this needs to be installed seperately or run via a singularity image; instructions on this coming soon ...
numpy
scikit-learn
wandb
argparse
scipy
POT  # For the "ot" package, used for optimal transport
